<form class="example-form" fxFlex="row" fxLayoutGap="2px">
  <mat-form-field class="example-full-width" fxFlex>
    <mat-label>{{'New Organisation Name' | translate}}</mat-label>
    <input matInput [placeholder]="'Organisation Name' | translate" [formControl]="newOrganisationName">
  </mat-form-field>

  <section fxLayoutAlign="end center">
    <button mat-raised-button (click)="closeDialog()">{{'Cancel' | translate}}</button>
    <button mat-raised-button (click)="closeDialog(true)">{{'Add' | translate}}</button>
  </section>
</form>
