<app-sidenav [actions]="actions">
  <div class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between center" style="margin-left: 1%;margin-right: 1%;margin-top: 1%">

    <mat-card *ngFor="let map of maps" fxFlex="30">

      <mat-card-header>
        Map Name: {{map.mapName}}
      </mat-card-header><br>

        <img mat-card-image [src]="map.image" alt="Map image">

      <mat-card-content>
        <span>Capacity: {{map.capacity}}</span><br>
        <span>Authorized: {{map.authorisedCapacity}}%</span>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button fxFlex (click)="viewMap(map.mapId)">View</button>
      </mat-card-actions>
    </mat-card>


  </div>

</app-sidenav>
